node_modules/
.env
.env_prod

*.sqlite
*.db
logs
*.log
docker-compose.override.yml
docker-compose.yml~
Dockerfile~
.vscode/
.idea/
.DS_Store
seeders/
swagger/swagger-output.json
tmp/
temp/
postgres_data/
db/seed.js